<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Крутой сайт</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Авторизация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <% if (name == undefined) {%>
      <button class="btn btn-outline-success" type="submit">
        <a href="/login"> Войти в систему </a>
        <%} else {%>
        <button class="btn btn-outline-danger" type="submit">
          <a href="/logout"> Выйти из системы </a>
        </button>
        <%}%>
      </button>
    </div>
  </div>
</nav>
