<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <div class="nav__brand">
      <a class="navbar-brand" href="#">УБаратрона</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <% if (locals.user) { %>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/" aria-current="page"
            >Главная<span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Записи</a>
        </li>
        <% if (role == 'administrator') { %>
        <li class="nav-item">
          <a href="/panel" class="nav-link">Панель</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Выйти</a>
        </li>
      </ul>
    </div>
    <% } else { %>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/" aria-current="page"
            >Главная<span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Войти</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link">Регистрация</a>
        </li>
      </ul>
    </div>
    <% } %>
  </div>
</nav>
