<form action="/login" method="post" class="formRegister">
  <label for="email" class="labelRegister">Введите почту</label>
  <input type="email" name="email" id="email" />
  <label for="password" class="labelRegister">Введите пароль</label>
  <input type="password" name="password" id="password" />
  <input type="submit" value="Войти" />
</form>
