<form action="/register" method="post" name="registerForm">
  <label for="name">Введите имя</label>
  <input type="text" name="name" id="name" required />
  <label for="email">Введите почту</label>
  <input type="email" name="email" id="email" required />
  <label for="password">Введите пароль</label>
  <input type="password" name="password" id="password" required />
  <label for="age">Ваш возраст</label>
  <input type="number" name="age" id="age" required />
  <label for="secret_word">Секретное слово для восстановления</label>
  <input type="text" name="secret_word" id="secret_word" required />
  <input type="submit" value="Зарегистрироваться" />
</form>
