<form method="POST" class="formRegister">
  <label for="name" class="labelRegister">Ваше имя</label>
  <input type="text" name="name" id="name" />
  <label for="email" class="labelRegister">Ваша почта</label>
  <input type="email" name="email" id="email" />
  <label for="password" class="labelRegister">Ваш пароль</label>
  <input type="password" name="password" id="password" />
  <label for="passwordRepeat" class="labelRegister">Повторите пароль</label>
  <input type="password" name="passwordRepeat" id="passwordRepeat" />
  <label for="age" class="labelRegister">Ваш возраст</label>
  <input type="text" name="age" id="age" />
  <input type="submit" value="Зарегистрироваться" />
</form>
