<form action="/register" method="POST" class="formRegister" name="user">
  <label for="name" class="labelRegister">Ваше имя</label>
  <input type="text" name="name" id="name" required />
  <label for="email" class="labelRegister">Ваша почта</label>
  <input type="email" name="email" id="email" required />
  <label for="password" class="labelRegister">Ваш пароль</label>
  <input type="password" name="password" id="password" required />
  <label for="age" class="labelRegister">Ваш возраст</label>
  <input type="text" name="age" id="age" required />
  <input type="submit" value="Зарегистрироваться" />
</form>
