<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="./css/bootstrap-5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./CSS/index.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="header"><%- include(`./partials/header`); %></header>
    <div class="container">
      <div class="container__error-body">
        <h4 class="error-body__head">Error 400</h4>
        <p class="error-body__main">Error please back later</p>
        <% if (err.status == 404) {%>
        <h1><%=(err.message)%></h1>
        <img src="<%=image%>" alt="" />
        <%}%>
      </div>
      <div class="container__error-img">
        <img src="./err.png" alt="" class="error-body__image" />
      </div>
    </div>
    <footer id="footer"><%- include(`./partials/footer`); %></footer>
  </body>
</html>
