<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include(`./partials/header`) %>
    <div class="login-main">
      <div class="main__login-container">
        <div class="login__text-block">
          <h4 class="text-block__header">Авторизуйтесь</h4>
          <p class="text-block__desc">Для просмотра постов авторизуйтесь</p>
        </div>
        <%- include(`./partials/loginForm`) %>
        <div class="col-12 col-sm-4 align-items-center icons">
          <a href="/auth/yandex" class="btn btn-info"
            ><img src="/images/YA.png" alt="ЯНДЕКС"
          /></a>
          <a href="/auth/google" class="btn btn-info"
            ><img src="/images/GUGL.png" alt="ГУГЛ"
          /></a>
          <a href="/auth/yandex" class="btn btn-info"
            ><img src="/images/GIT.png" alt="ГИТХАБ"
          /></a>
          <a href="/auth/yandex" class="btn btn-info"
            ><img src="/images/VK.png" alt="ВК"
          /></a>
        </div>
      </div>
    </div>
    <%- include(`./partials/footer`) %>
  </body>
</html>
